<!-- Startsida med länkar till de andra sidorna -->
<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <!-- Överskrift -->
    <h1>Test</h1>

    <!-- Länk till sidan med medlemmar  -->
    <a href="/members">Medlemmar</a>
    <br>


    <!-- Länk till sidan med formuläret -->
    <a href="/newMemberForm">Lägg till medlem</a>

    <!--Fel praxis. *****ÄNDRA***** -->
    <br>
    <br>
    <br>

    <!-- h3 som frågar om användaren är admin-->
    <!-- Fält som ber om admins namn (admin)-->
    <!-- Fält som ber om lösenord (admin)-->
    <!-- Knapp för att skicka förfrågan till back end och kollar om det verkligen är en admin-->
    <!-- <h3>Inlog för admin</h3>   *********************************************************************************

    <input type="text" th:field="*{adminName}"><br>
    <label>Lösenord</label><br>
    <input type="text" th:field="*{adminPassword}"><br>
    <button th:field="*{userName}"> Log in</button> -->

    <!-- Är båda fälten ifylda rätt genereras en "cookie" vid knapptryck som ger en adminrättigheter-->

</body>

</html>