<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
    <script src="script.js" defer></script>
</head>

<body>
    <h1>Barnarps Förenade Fågelskådare</h1>

    <h3>Start</h3>

    <a href="/members">Medlemmar</a>
    <br>

    <a class="adminRights" href="/newMemberForm">Lägg till medlem</a>


    <br>
    <br>
    <div>
        <h3>Inlog för Admin</h3>
        <input type="text" id="adminUsername" placeholder="Användarnamn"><br>
        <input type="text" id="adminPassword" placeholder="Lösenord">
        <button id="adminBtn">Log in</button><br><br><br>
    </div>
    <button id="clearLocalStorage">Logga ut</button>


</body>

</html>