<!-- Startsida med länkar till de andra sidorna -->
<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
    <script src="script.js" defer></script>
</head>

<body>
    <!-- Överskrift -->
    <h1>Test</h1>

    <!-- Länk till sidan med medlemmar  -->
    <a href="/members">Medlemmar</a>
    <br>


    <!-- Länk till sidan med formuläret -->
    <a class="adminRights" href="/newMemberForm">Lägg till medlem</a>

    <!--Fel praxis. *****ÄNDRA***** -->
    <br>
    <br>
    <br>
    <div>
        <!-- h3 som frågar om användaren är admin-->
        <h3>Inlog för Admin</h3>
        <!-- Fält som ber om admins namn (admin)-->
        <input type="text" id="adminUsername" placeholder="Användarnamn"><br>
        <!-- Fält som ber om lösenord (admin)-->
        <input type="text" id="adminPassword" placeholder="Lösenord">
        <!-- Knapp för att skicka förfrågan till back end och kollar om det verkligen är en admin-->
        <button id="adminBtn">Log in</button><br><br><br>
    </div>
    <button id="clearLocalStorage">Logga ut</button>


</body>

</html>