<!-- ******För Godkänt ******* -->

<!-- Sida där medlemmar visas -->
<!-- Lista med medlemar. Listan anropas från back end -->
<!-- Det ska gå att ta bort en medlem -->


<!-- Fält under listan där medlemmens namn matas in -->
<!-- Knapp bredvid fältet som tar bort medlemmen -->
<!-- Möjligt fel: Medlemmar med samma namn kommer skapa en bug -->




<!-- ******* För VG ********* -->
<!-- Bara inloggad admin ska kunna ta bort medlemmar -->

<!-- LocalStorage ska kollas och om Admin är inloggad ska fältet och knappen för borttagande av medlem synas. Annars är det osynlig -->
<!-- Fältet och knappen ska anropas från back end och inte gömt i JS -->


<!-- **************************************************************************************** -->

<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <!-- Överskrift. Vänsterställd -->
    <h1>annan test</h1>
    <!-- Återgå till index-länk på samma rad. Högerställd -->
    <a href="/">Startsida</a>


    <!-- Lista med medlemmar. Namn och ålder skrivs ut. Bara admin ser e-post -->
    <ul>
        <li th:each="member : ${members}">
            <span th:text="${member.name}"></span>
            <span th:text="${member.age}"></span>
        </li>
    </ul>

    <!-- En h3 där det frågas vilken medlem som ska tas bort -->
    <h3>Vilken medlem ska bort?</h3>
    <!-- Fält där ett namn skrivs in -->
    <input id="removeMemberTextbox" type="text">
    <!-- Knapp som tar bort medlemmen-->
    <button id="removeMemberBtn">Ta bort</button>
</body>

</html>