<!-- Här ska det gå att lägga till nya medlemmar -->
<!-- Varje ny medlem ska ha ett namn, en epost, en ålder och en bool om den är admin eller ej. -->


<!-- ***** För VG ***** -->
<!-- Bara Admin ska komma åt formuläret -->



<!-- Tre fält på en rad. Fält ett ber om den nya medlemmens namn. Det andra fältet ber om medlemmens e-post.
 Det tredje fältet bet om medlemmens ålder. Under fälten finns en ruta där man klickar i om medlemmen är admin och en knapp för att skapa medlemmen. 
 Alla fält måste vara ifyllda. Om medlemen är admin kommer det bara att gå att se i koden. Inga funktioner kommer att läggas till på den nya admin. -->




<!--****************************************************************************** -->


<!-- Överskrift. Vänsterställd -->
<h1>Här är en överskrift</h1>
<!-- Återgå till index-länk på samma rad. Högerställd -->
<a href="/">Startsida</a>

<!-- Fält för namn-->

<!-- Fält för e-post -->

<!-- Fält för ålder -->

<!-- Check box för admin-->

<!-- Knapp för att skapa användare-->