<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="members.js" defer></script>
</head>

<body>
    <h1>Barnarps Förenade Fågelskådare</h1>
    <h3>Adminvy</h3>
    <a href="/">Startsida</a><br><br>
    <h3 class="adminRights">Ny medlem</h3>


    <div class="adminRights">
        <form method="post" th:action="@{/newMemberForm}" th:object="${newMember}">
            <span>Namn: </span><br>
            <input required minlength=1 type="text" th:field="*{name}"><br>
            <span>E-post: </span><br>
            <input required minlength=1 type="email" th:field="*{eMail}"><br>
            <span>Ålder: </span><br>
            <input required min=0 max=200 type="number" th:field="*{age}"><br>
            <input type="submit"></input>
        </form>
    </div>
</body>

</html>